fastapi
uvicorn
openai-whisper
google-generativeai
langchain
langchain-google-genai
reportlab
python-multipart
websockets
python-dotenv
torch
pyannote.audio
faiss-cpu
sentence-transformers
langchain-huggingface
